doctype html
html
  head
    title Astronomy Picture of the Day
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js' integrity='sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='./style.css')
  body
    center
      h1 Astronomy Picture of the Day
      input#newDate(type='date' name='newDate')
      p#mediaPara
      if media_type=="image"
        a#media
          img#apodImage(src= media_Addres)
      else 
        video#media(width='1000' height='500' controls)
          source#videosrc(src=media_Addres)
          |           Your browser does not support the video tag.
    center
      span#title
        b   #{title} 
      
    p
      b  Explanation: 
      span#explanation #{explanation}
        
  script(src='home.js')

   
      
